<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OCR_By_Tim.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OCR_By_Tim.Settings1>
            <setting name="TessdataPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenshotFolder" serializeAs="String">
                <value />
            </setting>
        </OCR_By_Tim.Settings1>
    </userSettings>
</configuration>